﻿<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <title>@ViewData["Title"]</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Html.Raw(ViewData["Meta"])
        @Html.Raw(ViewData["Links"])

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" />

        @Html.Raw(ViewData["Styles"])

    </head>
    <body>
        @RenderBody()

        <!-- remove if you're not going to use SignalR -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>

        <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <script src="//connect.facebook.net/en_US/sdk.js"></script>
        <script src="http://cdn.pubnub.com/pubnub.min.js"></script>
        <script src="https://cdn.pubnub.com/sdk/pubnub-angular2/pubnub-angular2.1.0.2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.20.12/system.src.js"></script>
        <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
        @Html.Raw(ViewData["TransferData"])
        @RenderSection("scripts", required: false)
    </body>
</html>
