﻿﻿<div class="home">
  <div>
    <input type="text" class="form-control" name="searchtext" [(ngModel)]="searchtext" #screenname="ngModel"
           required placeholder="Search by Name, Company or #Tag" (ngModelChange)="handleChange(searchtext,false)"/>
  </div>
  <div class="row" *ngIf="tagsFilterApplied">
    <div class="col-md-12 tags" *ngFor="let tag of tags" (click)="handleChange('#'+tag.value,true)">
      {{tag.value}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <a class="row"
         *ngFor="let character of characters | searchPipe: searchtext : tags" (click)="setContactData(character,tags)" [routerLink]="['contact', character.index]">
        <div class="well profile">
          <div class="col-sm-12">
            <div class="col-xs-4 col-sm-8">
              <h2>{{character.name}}</h2>
              <p><strong>Company: </strong> {{character.company}}</p>
              <p><strong>Tags: </strong>
                <span class="tags" *ngFor="let tag of character.tags">{{tag}}</span>
              </p>
            </div>
            <div class="col-xs-4 col-sm-4">
              <div class="tagsselectchild" [ngClass]="character.showtags ? 'show':'hide'">
                <i class="fa fa-times iconabsolute" aria-hidden="true"
                   (click)="showTags(character,character.index,false)"></i>
                <!--<li><i class="fa fa-pencil fa-fw" (click)="editTags(character,character.index,false)"></i> Edit</li>-->
                <!--<li><i class="fa fa-trash-o fa-fw" (click)="deleteTags(character,character.index,false)"></i> Delete</li>-->
                <div *ngFor="let tag of character.tagviews">
                  <div class="checkbox" *ngIf="!tag.editable">
                    <label><input  type="checkbox" [checked]="tag.checked" value="{{tag.value}}"
                                  (click)="updateTags(character.index,tag.index,tag.value,!tag.checked)">{{tag.value}}
                      <div class="row">
                        <i class="fa fa-pencil fa-fw" (click)="EditTags(character.index,tag.value,true)" >Edit</i> <br />
                        <i class="fa fa-trash-o fa-fw" (click)="deleteTags(character,tag.value,false)">Delete</i>
                      </div>

                    </label>
                  </div>
                    <form #formtag="ngForm" (ngSubmit)="updateTagValue(formtag.value,tag.value)" *ngIf="tag.editable">
                      <div>
                        <input type="text" class="form-control" name="tager"
                               required placeholder="Update Tag" value={{tag.value}} ngModel/>
                      </div>
                    </form>
                </div>
                <form #form="ngForm" (ngSubmit)="updateTag(form.value)">
                  <div>
                    <input type="text" class="form-control" name="tag"
                           required placeholder="Add Tag" ngModel/>
                  </div>
                </form>

              </div>
              <span class="tagsselect" (click)="showTags(character,character.index,true)">Tags V</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-lg-6">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
