﻿.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

  .users li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.4em;
    border-radius: 4px;
  }

    .users li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }

    .users li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }

  .users .text {
    position: relative;
    top: -3px;
  }

  .users .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.5em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
button.delete {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  float: right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color: white;
}

blockquote {
  border-left:5px #158126 solid;
  background:#fff;
  padding:20px 20px 20px 40px;
}
blockquote::before {
  left: 1em;
}
.profile {
  cursor: pointer;
  min-height: 225px;
  margin-top: 10px;
  margin-left: 15px;
  width: auto;
}

span.tags {
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
  margin: 5px;
}

span.tagsselect {
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
  margin: 5px;
  right: 0;
  top: 0;
  float: right;
}

.tagsselectchild {
  background: white;
  position: absolute;
  z-index: 10;
  right: 20px;
  padding: 10px;
  top: 2em;
  width: 14em;
  height: auto;
}

.tagsselectchild .iconabsolute {
  right: 10px;
  position: relative;
  float: right;
}

div.tags {
  margin: 5px;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer
}

.show {
  display: block;
}

.hide {
  display: none;
}

div.tags:hover {
  background-color: whitesmoke;
}
