﻿<div class='main-nav'>
  <div class='navbar'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
      <a class='navbar-brand' [routerLink]="['/home']">Contacts Sample App </a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <span class='glyphicon glyphicon-home'></span> {{ 'HOME' | translate }}
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/manageusers']">
            <span class='glyphicon glyphicon-user'></span> Manage Users
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/users']">
            <span class='glyphicon glyphicon-user'></span> Users
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
