<style>

</style>
<div class="home">
  <h2>{{data.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Phone: {{data.phone}}</li>
    <li class="list-group-item">Email: {{data.email}}</li>
    <li class="list-group-item">LinkedIn: {{data.linkedin}}</li>
    <li class="list-group-item">Skype: {{data.skype}}</li>
  </ul>
</div>
