﻿﻿<h1>Manage Users</h1>
<div>
  <label>User name:</label>
  <form #form="ngForm" (ngSubmit)="addUser(form.value)">
    <div>
      <input type="text" class="form-control" name="name"
             required placeholder="name" ngModel/>
    </div>
    <div>
      <input type="text" class="form-control" name="company"
             required placeholder="company" ngModel/>
    </div>
    <div>
      <input type="text" class="form-control" name="phone"
             required placeholder="phone" ngModel/>
    </div><div>
    <input type="text" class="form-control" name="email"
           required placeholder="email" ngModel/>
  </div>
    <div>
      <input type="text" class="form-control" name="linkedin"
             required placeholder="linkedin" ngModel/>
    </div>
    <div>
      <input type="text" class="form-control" name="skype"
             required placeholder="skype" ngModel/>

    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>

<p *ngIf="!users"><em>Loading...</em></p>
<h2>Users</h2>
<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)"
      [@flyInOut]>
    <span class="badge">{{user.id}}</span> {{user.name}}
    <button class="delete"
            (click)="deleteUser(user); $event.stopPropagation()">
      x
    </button>
  </li>
</ul>
<user-detail [user]="selectedUser"></user-detail>
