﻿﻿.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.users {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

  .users li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.4em;
    border-radius: 4px;
  }

    .users li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }

    .users li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }

  .users .text {
    position: relative;
    top: -3px;
  }

  .users .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.5em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
button.delete {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  float: right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color: white;
}