﻿<div>
  <button *ngIf="!user.name" class="btn btn-lg btn-social btn-facebook" style="font-size: 1.5em;" (click)="onFacebookLoginClick()">
    <i class="fa fa-facebook fa-fw"></i>Sign in with Facebook
  </button>
  <h2 *ngIf="user.name">Logged in as {{user.name}}</h2>
</div>
